<div class="formularios">
  <h2>Registrarme</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

   <div class="field">
    <%= f.label :user_name ,"Nombre de Usuario"%>
    <%= f.text_field :user_name, autofocus: true, placeholder:"'Pedro' , 'Pablo' , etc.." %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, placeholder:"correo@example.com"%>
  </div>
  

  <div class="field">
    <%= f.label :password,  "Contrase単a (8 caracteres minimo)" %>
    <%= f.password_field :password, autocomplete: "off", placeholder:"Contrase単a" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirmar Contrase単a" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder:"Confirmar Contrase単a" %>
  </div>

  <div class="actions">
    <%= f.submit "Registrarme" %>
  </div>
<% end %>

<%=  render "usuarios/shared/links" %>

</div>