<p id="notice"><%= notice %></p>
<h3><%= @departamento.nombre %></h3>

<p><b>Descripción: </b></p>
<p> <%= @departamento.descripcion %></p>

<%= image_tag @departamento.imagen.url(:media) %>

<div class="index-dep">
	<% @productos.each do |producto| %>
	<div class="elemento">
		<img src="img/musica.jpg" alt="imagen">
		<div class="vinculo">
			<%= link_to producto.nombre, producto %>
			<p><%= producto.desc_c %></p>
		</div>
	</div>	
	<% end %>