

<%= form_for(@producto) do |f| %>
<% if @producto.errors.any? %>
<div id="error_explanation">
  <h5><%= pluralize(@producto.errors.count, "error") %> prohibited this producto from being saved:</h5>

  
    <% @producto.errors.full_messages.each do |message| %>
    <p><%= message %></p>
    <% end %>

</div>
<% end %>

<div class="shadow-box objetos-vender objetos ">
  <div class="campo campo-vender">
    <%=  f.label :nombre%>
    <%=  f.text_field :nombre%>
  </div>
  <div class="campo campo-vender">
    <%=  f.label :desc_c , "Descripcion Corta"%>
    <%=  f.text_field :desc_c%>
  </div>
  <div class="campo campo-vender">

    <%=  f.label :desc_l , "Descripcion Larga"%>
    <%=  f.text_area :desc_l %>
  </div>
  <div class="campo campo-vender">

    <%=  f.label :estado%>
    <%=  f.text_field :estado%>
  </div>
  <div class="campo campo-vender">

    <%=  f.label :precio%>
    <%=  f.text_field :precio%>
  </div>
  <div class="campo campo-vender">
    <%= f.label :imagen %>
    <%= f.file_field :imagen %>
  </div>
  <div class="campo campo-vender relative">
      <%= f.label :departamento_id ,"Departamento al que pertenece"%>
      <%= f.select(:departamento_id) do %>
          <% @departamentos.each do |departamento| %>
          <%= content_tag(:option, departamento.nombre , value: departamento.id) %>
           <% end %>

  </div>  
  <% end %>
  </div>
<div class="actions">
  <%= f.submit  "Publicar" %>
</div>
<% end %>
