<p id="notice"><%= notice %></p>

<h2><%= @producto.nombre %></h2>
<p><%= @producto.desc_c %></p>
<p><%= @producto.desc_l %></p>
<p><%= @producto.estado %></p>
<p>Q<%= @producto.precio %></p>
<%= image_tag @producto.imagen.url(:pequena) %>

